<div class="center" style="background-color: darkkhaki;">

    <h1 style="text-align: center; font-size:xxx-large ">NAMES WITH PLANS </h1>
    <div style="text-align: center;"> 
        
        {{#each names}}
        <a href="/total/{{this.names}}">
            <h1 style="color:black ;">{{this.names}}</h1>
        </a>
        {{/each}}
    </div>
</div>